html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.all-container {
	height: 200px;
	display: block;
	width: 1170px;
	margin: 0 auto;
}


.logo-img {
	margin-top: 20px;
	width: 100px;
	height: 30px;
	border: 1px solid yellow;
}

.main-greet {
	margin-top: 20px;
	font-size: 44px;
	line-height: 52px;

	color: #56565B;
	letter-spacing: 0;
	font-family: 'Montserrat', sans-serif;
}

.sub-greet {
	margin-top: 10px
	font-size: 20px;
	line-height: 25px;
	color: #56565B;
	letter-spacing: 0;
	font-family: 'Montserrat', sans-serif;
}


.main-container {
	position: relative;
	background: #FFFFFF;
	
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.10);
	
	width: 1170px;
	height: 630px;

	font-size: 15px;
	font-family: 'Montserrat', sans-serif;

	margin-top: 15px;
}

.main-text {
	padding: 0 70px;
	color: #56565B;
	letter-spacing: 0;
	font-family: 'Montserrat', sans-serif;
}


.btn-holder {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	display: block;
}


.btn-text {
	font-family: Helvetica;
	position: absolute;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	z-index: 2;
	display: inline-block;
	width: 100%;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
