
.column-msg{
	position: relative;
	margin-top: 20px;
	padding: 0;
}

.lbl.first-name-ip {
	float: left;
}

input.first-name-ip {
	position: relative;
	float: left;
	width: 48.5%;
}


.lbl.last-name-ip {
	left: 52%;
}

input.last-name-ip {
	position: relative;
	float: left;
	width: 48.5%;
	margin-left: 3%;
}