.two-column-zone{
	padding: 0 60px;
}

.top-msg {
	top: 25px;
}

.password-msg {
	padding: 0;
	margin-top: 45px;
	font-weight: bold;
}


.address-ip {
	float: left;
	width: 68%;
}

.zip-ip {
	float: left;
	width: 26%;
	margin-left: 6%;
}