body, html {
	width: 1781px;
	height: 1000px;
}

.container {
	background: #FFFFFF;
	border: 7px solid #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
	width: 1170px;
	height: 654px;
}

.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
}

