.Contianer {
	position: relative;
	height: 2000px;
}

.reg_form {
	top: 200px;
    margin: 0 auto;
    position: relative;
    background: #FFFFFF;
    border: 7px solid #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
    width: 1196px;
    height: 690px;
}

.row {
	padding-left: 70px;
	margin-top: 51px;
}

.tellus {
	padding-left: 70px;
	font-family: .AppleSystemUIFont;
	font-size: 16px;
	color: #56565B;
	letter-spacing: 0.6px;
}


.label {
	font-family: .AppleSystemUIFont;
	font-size: 14px;
	color: #89898D;
	letter-spacing: 0;
	width: 225px;
	height: 19px;
}

input {
	width: 304.88px;
	height: 24px;
	border: none;
	outline: none;
	position: relative;

}

#passwordSelection {
	font-family: .AppleSystemUIFont;
	font-size: 16px;
	color: #56565B;
	letter-spacing: 0.6px;
}

.underline {
	background: #FFFFFF;
	border: 1px solid #DAD7D5;
	border-radius: 6px;
}

.submit {
	width: 278px;
	height: 80px;
	background: #FA5014;
}

.progress_bar {
	width: 75%;
    height: 80px;
    position: relative;
    margin-top: 72px;
    background-color: #56565B;
}

.submit {
	font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    border-bottom: 77px solid #FA5014;
    border-left: 100px solid #56565B;
    height: 80px;
    position: relative;
    left: 100%;
    bottom: 0px;
    width: 16em;
}

.title {
	font-family: Helvetica;
    font-size: 42px;
    color: #56565B;
    letter-spacing: 1.22px;
    line-height: 52px;
    position: relative;
    left: 4em;
    top: 3.5em;
}


