.Contianer {
	position: relative;
	height: 2000px;
	border: 1px solid red;
}

.title {
    font-size: 42px;
    color: #56565B;
    letter-spacing: 1.22px;
    line-height: 52px;
    left: 305px;
    position: fixed;
    top: 100px;
}

.next {
	font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    top: 27px;
    position: relative;
}

.reg_form {
    background: #FFFFFF;
    border: 7px solid #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
    width: 1170px;
    height: 690px;
    margin: 0 auto;
    top: 200px;
    left: 305px;
    position: fixed;
}

.label {
	width: 225px;
	height: 19px;
	font-family: .AppleSystemUIFont;
	font-size: 14px;
	color: #89898D;
	letter-spacing: 0;
	margin: 0;
}

.underline {
	background: #FFFFFF;
	border: 1px solid #DAD7D5;
	border-radius: 6px;
	width: 480px;
}

input {
	width: 304.88px;
	height: 24px;
	border: none;
	outline: none;
}

.Special_label {
	color: #89898D;
	letter-spacing: 0;
	font-size: 14px;
	height: 19px;
}

.tellus {
	font-size: 18px;
	position: relative;
	margin-top: 53px;
	margin-left: 70px;
}

.left {
	left: 70px;
}

.first_name, .work_email {
	margin-top: 34px;
}

.last_Name, .work_Mobile {
	margin-top: 50px;
}

.employer_Name, .work_direct {
	margin-top: 51px;
}

.job_title {
	margin-top: 53px;
}

.passwordSelection {
	margin-top: 69px;
}

.employer_Website {
	margin-top: 49px;
}

.Password {
	    margin-top: 49px;
}

.Street_Address  {
	margin-top: 48px;
}

.Repeat {
	margin-top: 53px;
}

.progress_bar {
       background: #56565B;
    width: 882px;
    height: 80px;
    position: relative;
    top: 60px;
}

.submit {
    background: #FA5014;
    border-bottom: 76px solid #FA5014;
    border-left: 100px solid #56565B;
    position: relative;
    left: 49em;
    width: 278px;
    height: 80px;
    font-family: .AppleSystemUIFont;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    position: relative;
}