.Contianer {
	position: relative;
	height: 2000px;
}

.reg_form {
	background: #FFFFFF;
	border: 7px solid #FFFFFF;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
	width: 1170px;
	height: 630px;
	margin: 0 auto;
}

.label {
	width: 225px;
	height: 19px;
	font-family: .AppleSystemUIFont;
	font-size: 14px;
	color: #89898D;
	letter-spacing: 0;
}

.Special_label {
	color: #89898D;
	letter-spacing: 0;
	font-size: 14px;
	height: 19px;
}

.underline {
	background: #FFFFFF;
	border: 1px solid #DAD7D5;
	border-radius: 6px;
	width: 480px;
}

input {
	width: 304.88px;
	height: 24px;
	border: none;
	outline: none;
}

.first_name {
	margin-bottom: 50px;
}

.last_Name {
	margin-bottom: 51px;
}

.employer_Name {
	margin-bottom: 53px;
}

.job_title {
	margin-bottom: 49px;
}

.employer_Website {
	margin-bottom: 48px;
}

.tellus {
	margin-bottom: 34px;
	margin-left: 70px;
}

.col {
	left: 70px;
}

.progress_bar {
	width: 958px;
    height: 80px;
    background: #56565B;
    position: relative;
    top: 42px;
}

.submit {
     background: #FA5014;
    border-bottom: 76px solid #FA5014;
    border-left: 100px solid #56565B;
    position: relative;
    left: 49em;
    width: 278px;
    height: 80px;
    font-family: .AppleSystemUIFont;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
}
