body, html {
	width: 1781px;
	height: 1000px;
	background-color: grey;
}


.container {
    position: absolute;
    top: 200px;
    left: 305px;
    background: #FFFFFF;
    border: 7px solid #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
    width: 1170px;
    height: 654px;
}

.orange_Box {
      border: 1px solid #FA5014;
    border-radius: 8px;
    width: 488px;
    height: 238px;
    position: absolute;
    top: 156px;
    left: 376px;
}

.text_within_Box {
    /* List of companies is: */
font-family: Helvetica;
font-size: 18px;
color: #89898D;
letter-spacing: 0;
text-align: center;
position: relative;
top: 88px;
}

.add_company {
    /* + ADD COMPANY: */
    font-family: Helvetica;
    font-size: 18px;
    color: #FA5014;
    letter-spacing: 0.45px;
    line-height: 27px;
    text-align: center;
    position: relative;
    top: 124px;
}

.nav {
    background-color: white;
    width: 1781px;
    height: 84px;
    position: relative;
}
.greeting {
      font-family: Helvetica;
    font-size: 42px;
    color: #56565B;
    letter-spacing: 1.22px;
    line-height: 52px;
    position: relative;
    left: 305px;
    top: 30px;
}

.sub_greeting {
    /* Please select a comp: */
     font-family: Helvetica;
    font-size: 20px;
    color: #56565B;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    left: 305px;
    top: 33px;
}

.progress_bar {
	height: 80px;
	width: 100%;
	position: absolute; 
	bottom: 0;
}


.submit {
      width: 10.6em;
    height: 0;
    border-bottom: 80px solid #FA5014;
    border-left: 100px solid transparent;
    position: absolute;
    font-family: .AppleSystemUIFont;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    left: 49em;
}



.status {
	width: 56em;
    height: 0;
    border-top: 80px solid #56565B;
    border-right: 100px solid transparent;
}


.submit_text {
margin-top: 28px;
    position: relative;
    left: 158px;
    font-family: .AppleSystemUIFont;
     font-size: 18px; 
    color: white;
    letter-spacing: 0;
}


.congrats {
    font-family: Helvetica;
    font-size: 42px;
    color: #56565B;
    letter-spacing: 0;
    line-height: 52px;
    position: absolute;
    top: 100px;
    left: 305px;
}
